body {
	background-color: #FFFFFF;
    background-image: url("http://img.fifa.com/images/fwc/2014/brand/bg.jpg?v=130455967370977292");
    background-position: center -110px;
    background-repeat: repeat-x;
    width: 100%;
}