body {
	font-family: 'Open Sans',sans-serif;
	color: #666666;
	line-height: 1.54;
}

tr {
	border-bottom: 1px solid #DCDCDC;
	text-align: left;
	font-size: 12px;
}

.table-borderless {
    margin-bottom: 20px;
    width: 100%;
}

.table-borderless td {
    padding: 10px;
}

.match-details {
	text-align: left;
	height: 80px;
	display: table-cell;
	vertical-align: middle;
}

.match-details div {
	line-height: 1.54;
}

.group {
	font-weight: 700;
}

.flag {
	height: 32px;
    width: 48px;
    border: 1px solid #C7C6C6;
}

.navbar-nav p {
	padding-bottom: 15px;
    padding-top: 15px;
}

.team-name {
	font-size: 27px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    color: #474747;
    text-transform: capitalize;
}

span.bet {
	font-size: 27px;
    vertical-align: middle;
}

span.points {
    vertical-align: middle;
    margin-right: 10px;
}

.bet span.points, span.winner {
	font-size: 22px;
}

#match-bets .points, #match-bets .user, #winner-bets .points, #winner-bets .user  {
	font-size: 16px;
}

.bet-input {
	width: 46px !important;
	height: 36px !important;
}

button.submit-bet {
	margin-left: 10px;
}

.score {
	font-size: 27px;
    color: #474747;
    text-align: center;
    height: 80px;
    line-height: 80px;
}

.home {
	text-align: left;
	height: 80px;
	line-height: 80px;
}

.away {
	text-align: right;
	height:80px;
	line-height: 80px;
}

.bet {
	height: 80px;
	text-align: left;
	line-height: 80px;
}

.navbar {
	margin-bottom: 0px;
}

#winner-bet {
	padding-top: 20px;
	font-size: 22px;
}

#matches {
	text-align: center;
}

.other-bets {
	font-size: 12px;
}

#winner-bet-deadline {
	font-size: 12px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#banner {
	background: url("../images/background.jpg") no-repeat scroll right -250px #FFFFFF;
    height: 230px;
    padding-top: 0px;
}

.busy {
	margin-left: 10px;
}

#fuleco {
	margin-top: 50px;
}

#cup {
	margin-top: 45px;
}

#banner-text {
	margin-top: 50px;
}

@media (max-width: 1000px) {
	#banner-text {
		display: none;
	}
	
	#cup {
		display: none;
	}
}

#banner-text p {
	color: #FFFF00; 
	font-weight: bold;
	margin-right: 100px;	
}